/* reference starting color: #00cca3
* https://www.color-hex.com/color/00cca3#shades-tints
*/

@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wght@400;600&display=swap');

:root{
    --font-family: Mona Sans, sans-serif;
    --font-weight-bold: 600;
    --font-weight-normal: 400;
    font-family: var(--font-family), sans-serif;
    font-weight: var(--font-weight-normal);
    --icon-size: 120px;
    --container-max-width: 800px;
    --container-min-width: 300px;
    --background-color: #121212;
    --surface-color: #121212;
    --primary-color: #00a382;
    --primary-variant-color: #264741;
    --secondary-color: #C09A3F;
    --text-color-on-background: #FFFFFF;
    --text-color-on-surface: #FFFFFF;
    --text-color-on-primary: #000000;
    --text-color-on-secondary: #000000;

    --border-radius-element: 12px;
    --elevation-overlay: #FFFFFF;

}

body{
    background-color: var(--background-color);
}

body, header
{
    margin: 0;
}

.header
{
    font-weight: var(--font-weight-bold);
    position:relative;
    text-align: center;
    font-size: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    /*margin-bottom: 25px;*/
    background-color: var(--primary-variant-color);


    /*background: linear-gradient(to right,  var(--background-color) 27%, var(--primary-variant-color), 73%);*/
    /*background: linear-gradient(to right, var(--primary-variant-color) 27%, var(--background-color), 73%);*/
}

.header::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 5%);
    pointer-events: none;
}


.main-container
{
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 85px;
    padding-right: 85px;
    /*border-radius: 25px;*/
    min-width: var(--container-min-width);
    max-width: var(--container-max-width);
    background-color: var(--surface-color);
    border: 2px dashed #FFFFFF12;
    border-top: transparent;
    border-bottom: transparent;
    align-content: center;
}

.element
{
    position: relative;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--surface-color);
    padding: 25px;
    /*border-radius: 25px;*/
    border-width: medium;

    margin-top: 10px;
    margin-bottom: 10px;
}

.box-container{
    display: flex;
    /*flex-direction: column;*/
}

.description-container
 {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    /*margin: 0 25px;*/
    min-width: 0;
    padding: 12px 25px;
}

.description-container::before{
    content: "";
    position: absolute;
    /*border-radius: var(--border-radius-element);*/
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 7%);
    pointer-events: none;
}

.striped-element{
    min-width: 10px;
    background-image: repeating-linear-gradient(45deg,
    var(--text-color-on-surface) 0,
    var(--text-color-on-surface) 3px,
    var(--background-color) 3px,
    var(--background-color) 6px);
    opacity: 7%;
}




.description
{
    min-height: 38px;
    flex-grow: 1;
}

.read-more::before{
    content: "";
    position: absolute;
    /*border-radius: var(--border-radius-element);*/
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 10%);
    pointer-events: none;
}
.read-more{
    position: relative;
    padding: 1px 16px; /* <p> element has top/bot margin of 16px*/
    margin: 12px 0;
}

.button-container
{
    display: flex;
    gap: 12px;
}

.button {
    font-family: var(--font-family), sans-serif;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    position: relative;
    background: linear-gradient(-45deg, var(--surface-color) 50%, var(--primary-color) 50%);
    background-position: 100%;
    background-size: 300%;
    border-radius: var(--border-radius-element);
    border-color: var(--primary-color);
    font-size: 16px;
    color: white;
    transition: 0.5s;
    transition-timing-function: ease-in-out;

}

.button::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: var(--border-radius-element);
    background-color: rgba(255, 255, 255, 8%);
    pointer-events: none;
}

.button:hover
{
    background-position: 0;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.is-active-button
{
    background-position: 65%;
}

.hidden-element{
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}

.hidden-element.visible{

}

.icon {
    border-radius: 50%;
    flex-shrink: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: cover;
    display: block;
    background-color: grey;
}

/*.icon:hover{*/
/*    transform: rotate(360deg);*/
/*    transition: 0.5s ease-in-out;*/

/*}*/



